<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/logo.png" alt="Netlfix logo" width="120" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [className]="actualUrl('browse') ? 'nav-link active' : 'nav-link'"
             routerLink="browse"
             (click)="changePagesName('Home - Netflix')">
             Home
          </a>
        </li>
        <li class="nav-item">
          <a [className]="actualUrl('series') ? 'nav-link active' : 'nav-link'"
             routerLink="series"
             (click)="changePagesName('Series - Netflix')">
             Series
          </a>
        </li>
        <li class="nav-item">
          <a [className]="actualUrl('movies') ? 'nav-link active' : 'nav-link'"
             routerLink="movies"
             (click)="changePagesName('Movies - Netflix')">
             Movies
          </a>
        </li>
        <li class="nav-item">
          <a [className]="actualUrl('my-list') ? 'nav-link active' : 'nav-link'"
             routerLink="my-list"
             (click)="changePagesName('My list - Netflix')">
             My list
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
